<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.PositionInfoMapper">
  <resultMap id="BaseResultMap" type="com.pojo.PositionInfo">
    <id column="Position_Id" jdbcType="INTEGER" property="positionId" />
    <result column="Position" jdbcType="VARCHAR" property="position" />
    <result column="Position_Introduction" jdbcType="VARCHAR" property="positionIntroduction" />
    <result column="Department_Id" jdbcType="INTEGER" property="departmentId" />
  </resultMap>

  <resultMap id="positionDepartment" type="com.pojo.PositionInfo">
    <id column="Position_Id" jdbcType="INTEGER" property="positionId" />
    <result column="Position" jdbcType="VARCHAR" property="position" />
    <result column="Position_Introduction" jdbcType="VARCHAR" property="positionIntroduction" />
    <result column="Department_Id" jdbcType="INTEGER" property="departmentId" />
    <result column="Department"  jdbcType="VARCHAR" property="department" />
  </resultMap>

  <sql id="Base_Column_List">
    Position_Id, "Position",Position_Introduction ,Department_Id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from position_info
    where Position_Id = #{positionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from position_info
    where Position_Id = #{positionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pojo.PositionInfo">
    insert into position_info (Position_Id, "Position",Position_Introduction,Department_Id
      )
    values (#{positionId,jdbcType=INTEGER}, #{position,jdbcType=VARCHAR},#{positionIntroduction,jdbcType=VARCHAR}, #{departmentId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.PositionInfo">
    insert into position_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="positionId != null">
        Position_Id,
      </if>
      <if test="position != null">
        "Position",
      </if>
      <if test="positionIntroduction != null">
        Position_Introduction,
      </if>
      <if test="departmentId != null">
        Department_Id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="positionId != null">
        #{positionId,jdbcType=INTEGER},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="positionIntroduction != null">
        #{positionIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null">
        #{departmentId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.PositionInfo">
    update position_info
    <set>
      <if test="position != null">
        "Position" = #{position,jdbcType=VARCHAR},
      </if>
      <if test="positionIntroduction != null">
        Position_Introduction = #{position,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null">
        Department_Id = #{departmentId,jdbcType=INTEGER},
      </if>
    </set>
    where Position_Id = #{positionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.PositionInfo">
    update position_info
    set "Position" = #{position,jdbcType=VARCHAR},
        Position_Introduction = #{positionIntroduction,jdbcType=VARCHAR},
      Department_Id = #{departmentId,jdbcType=INTEGER}
    where Position_Id = #{positionId,jdbcType=INTEGER}
  </update>


<!--jieHao 19-03-29 根据部门id查找职位-->
  <select id="searchPosition" resultMap="BaseResultMap">
    select * from position_info where Department_Id=#{departmentId}
  </select>
<!--jieHao 19-04-02 根据职位id查找职位信息-->
  <select id="searchPositionById" resultMap="BaseResultMap">
    select * from position_info where Position_Id = #{positionId}
  </select>
  <!--jieHao 19-04-25 查找所有职位-->
  <select id="searchPositionALL" resultMap="BaseResultMap">
    select * from position_info
  </select>


  <select id="searchAllPositionByPaging" resultMap="positionDepartment">
    SELECT a.Position_Id ,a.Position,a.Department_Id,a.Position_Introduction,b.Department
    from position_info a LEFT JOIN department_info b
    on a.Department_Id=b.Department_Id
    <where>
      <if test="positionInfo.position!=null">
        and a.Position like "%"#{positionInfo.position}"%"
      </if>
      <if test="positionInfo.department!=null">
        and b.Department like "%"#{positionInfo.department}"%"
      </if>
    </where>
    limit #{start},#{limit}
  </select>


  <select id="searchAllPositionCount" resultType="java.lang.Integer">
    select count(*) from position_info
  </select>
</mapper>